* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #9693A5;
}

body {
    background-color: #8685EF;
}

form {
    padding: 50px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}

form input, form select {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    border: 1px #9693A5 solid;
    border-radius: 5px;
    color: #9693A5;
}

form input[type="radio"]{
    display: inline;
    width: auto;
    height: auto;
}

fieldset {
    margin: auto;
    padding: 20px 50px;
    max-width: 500px;
    border: 1px #FAF8FF solid;
    background-color: #FAF8FF;
    border-radius: 12px;
    box-shadow: 20px 20px 4px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]{
    display: inline;
    width: 49%;
    background-color: #3897F0;
    color: #FAF8FF;
    border: none;
}

input[type="reset"]{
    display: inline;
    width: 49%;
    background-color: #bdb7b7;
    color: #FAF8FF;
    border: none;
}

.grid {
    display: flex;
}

.nomeSobrenome{
    display: inline;
    width: 50%;
}

.nomeSobrenome:first-child{
    margin-right: 10px;
}

/* Responsive */

@media screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
    }

    input[type="submit"], input[type="reset"]{
        display: block;
        width: 100%;
    }

    input[type="reset"] {
        margin-top: 20px;
    }

    .grid{
        display: block;
    }

    .nomeSobrenome{
        display: block;
        width: 100%;
    }
}